<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="3e76fc8a-a847-4db2-b8f1-2ea8e0ee390e" Publisher="CN=Hex" Version="1.0.0.4" />
  <Properties>
    <DisplayName>SherpaDesk</DisplayName>
    <PublisherDisplayName>Hex</PublisherDisplayName>
    <Logo>Assets\Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SherpaDesk.App">
      <VisualElements DisplayName="SherpaDesk" Logo="Assets\LogoBig.png" SmallLogo="Assets\SmallLogo.png" Description="SherpaDesk" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>